.Information {
    margin: 3rem 0;
    .Information-Left {
        h1 {
            font-family: "Encode Sans";
            color: #48626f;
            text-align: center;
            font-size: 2rem;
            font-weight: 700;
        }
        p {
            text-align: left;
            font-size: 1.125rem;
            box-sizing: border-box;
            margin-bottom: 1.2rem;
            line-height: 1.6;
            font-family: "Encode Sans", sans-serif;
            font-weight: 500;
        }
    }
    .Information-Right {
        .Information__Video {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            height: 0;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}
