@import "../../../styles/core.scss";

.full {
    @include media(phone) {
        display: none !important;
    }
}

.mobile {
    @include media(tablet) {
        display: none !important;
    }
    @include media(pc) {
        display: none !important;
    }
}

.stickyTop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
