// .HeaderPage {
//     width: 100%;
//     border: 1px solid red;
//     display: flex;
//     flex-flow: row nowrap;
//     align-items: center;
//     justify-content: space-between;
//     .HeaderPage__Logo {
//         width: 300px;
//         .logo {
//             width: 245px;
//         }
//     }
//     .HeaderPage__Menu {
//         width: 80%;
//         transition: all 0.5s ease 0s;
//     }
// }

.sticky-section {
    overflow: hidden;
    background-color: #09689e;
    margin-bottom: 50px;
    width: 100%;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
nav a {
    float: right;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 20px 30px;
    display: inline-block;
    transition: all 0.5s ease 0s;
}
body {
    margin: 0;
    padding: 0;
}

#logo {
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 15px 15px;
    margin-left: 16%;
}
nav {
    margin-right: 17%;
}
header {
    background-color: #daf7a6;
    text-align: center;
    padding: 40px 0px;
}
header h1 {
    margin: 0px;
    font-size: 26px;
    color: #414141;
    font-weight: 1000;
    font-family: "Acme", sans-serif;
}

h1 span {
    font-weight: 400;
}

nav a:hover {
    background-color: #002e5b;
    color: wheat;
}
.content {
    margin: 50px 17%;
}
.content h3 {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    font-family: "Shadows Into Light", cursive;
    margin-bottom: 20px;
}

.content p {
    text-align: justify;
    margin-bottom: 50px;
    line-height: 2;
}
