@import "../../../styles/core.scss";

.full {
    @include media(phone) {
        display: none !important;
    }
}

.mobile {
    @include media(tablet) {
        display: none !important;
    }
    @include media(pc) {
        display: none !important;
    }
}

.stickyTop {
    position: -webkit-sticky;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 99;
}
