@import "../../styles/core.scss";

.home {
    width: 100%;
    overflow: hidden;

    .backTop {
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 4px;
        color: $dark-gray5;
        background: $light-gray1;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .topCarousel {
        margin-top: 14rem;
        @include media(tablet) {
            margin-top: 14rem;
        }
        @include media(phone) {
            margin-top: 6rem;
        }
    }
}
