.HeaderPage {
    margin: 0;
    padding: 0;
    background-color: white;
    margin-bottom: 50px;
    width: 100%;
    color: white;
    .HeaderPage_Logo {
        width: 250px;
        float: left;
        margin-left: 16%;
        img {
            object-fit: cover;
        }
    }
    .HeaderPage_Menu {
        font-size: 18px;
        display: inline;
        transition: all 0.5s ease 0s;
        margin-right: 17%;
        .HeaderPage_MenuItem a,
        a::before {
            &:hover,
            :visited,
            :focus,
            :active,
            :link,
            :checked,
            :focus-visible {
                border-bottom-style: none;
                text-decoration: none;
            }
            a,
            a::before,
            :hover,
            :visited,
            :focus,
            :active,
            :link {
                border-bottom-style: none !important;
                text-decoration: none !important;
            }
        }
    }
}
