.slick-slide {
    padding: 0 30px;
}

.highInfo {
    width: 100%;
    background-image: url("/image/media/home_bg_1.png");
    background-position: center center;
    background-size: cover;
    .highInfo_infoGrid {
        max-width: 1280px;
        margin: 1rem auto;
        .home-title .pv-title {
            margin-bottom: 0;
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 1.5px;
                height: 65px;
                background: -webkit-gradient(
                    linear,
                    left top,
                    left bottom,
                    from(#16c1f3),
                    to(rgba(22, 193, 243, 0))
                );
                background: -webkit-linear-gradient(
                    #16c1f3,
                    rgba(22, 193, 243, 0)
                );
                background: linear-gradient(#16c1f3, rgba(22, 193, 243, 0));
            }
            a {
                color: #48626f;
                font-size: 2rem;
                font-weight: 600;
                text-decoration: none;
            }
        }

        .top-news {
            color: #48626f;
            text-decoration: none;
            text-align: left;
            figure {
                margin-bottom: 0;
                figcaption {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    time {
                        font-size: 0.95rem;
                        color: #cccccc !important;
                        font-weight: 400;
                    }
                    .name {
                        color: #48626f;
                        font-size: 1.15rem;
                        font-weight: 600;
                        line-height: 1.4;
                        margin-bottom: 0;
                        margin-top: 0.5rem;
                    }
                }
            }
            &:hover {
                color: #eb2329;
            }
        }
    }
}
